
h1{
  font-weight: 900;
}
 body{
   background-color: rgb(243, 232, 232)
 }
 .page{
   width: 2300px;    
   background-color: rgb(233, 193, 193);   
   margin: auto;
   padding: 50px;
   padding-top: 35px;
}
.vis-container{
  width: 100%;
}
.vis-rank-container{
  width: 100%;
  height: max-content;
}
.description h2, h1{
  margin-top:0px;
}
.description-right {
  padding-left: 20px;
}
.description-left{
  padding-right: 20px;
}
.pure-g{
  margin-bottom: 25px;
}
.small-font{
    font-size: 14px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the side navigation */
.sidenav {
height: 3500px;;
width: 215px;
position: absolute;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(255, 255, 255);
overflow-x: hidden;
overflow-y: hidden;
}

/* Style the content */
.content {
margin-left: 215px;
padding-left: 25px;
padding-right: 25px;
}